@model ALibrary.Models.BookViewModel
@using ALibrary.Helpers

<!-- Main content -->
    <section class="container">
        <div class="col-sm-8 col-md-9">
            <div class="movie">
                <h2 class="page-heading">@Model.Book.Name</h2>

                <div class="movie__info">
                    <div class="col-sm-6 col-md-4 movie-mobile">
                        <div class="movie__images">
                            <span class="movie__rating">@Model.Book.Rating</span>
                            <img alt='' src="@Url.Content($"~/Content/images/book/{Model.Book.Image}")">
                        </div>
                        <div class="movie__rate">
                            Your vote:
                            <div class="stars">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < Model.Book.Rating)
                                    {
                                        <span class="book_rating"></span>
                                    }
                                    else
                                    {
                                        <span class="book_star"></span>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-8">
                        <p class="movie__time">@Model.Book.NumberPages с.</p>

                        <p class="movie__option"><strong>Страна: </strong><a>@Model.Book.Author.Country.Name</a></p>
                        <p class="movie__option"><strong>Год написания: </strong><a>@Model.Book.Year</a></p>
                        <p class="movie__option">
                            <strong>Категория: </strong>
                            @for (int i = 0; i < Model.Book.Categories.Count; i++)
                            {
                                @Html.ActionLink(Model.Book.Categories[i].Name, "Subcategory", "Category", new { category = BookHelper.GetParentCategory(Model.Book.Categories), subcategory = BookHelper.GetSubcategory(Model.Book.Categories) }, null)
                                if (i != Model.Book.Categories.Count - 1)
                                {
                                    Write(" | ");
                                }
                            }
                        </p>
                        <p class="movie__option"><strong>Автор: </strong><a>@Model.Book.Author.Name</a></p>

                        <a href="#comments" class="comment-link">Комментарии:  @Model.Book.Comments.Count</a>

                        <div class="movie__btns">
                            <a href="@Url.Action("ReadBook", "Book", new { id = Model.Book.Id, slug = Model.Book.Slug })" class="btn btn-md btn--warning">Читать</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginForm("Watchlist", "Book", FormMethod.Post))
                                {
                                    <input name="id" value="@Model.Book.Id" type="hidden" />
                                    <input name="slug" value="@Model.Book.Slug" type="hidden" />
                                    <button class="watchlist">Добавить в список</button>
                                }
                            }
                        </div>

                        <div class="share">
                            <span class="share__marker">Share: </span>
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">Описание</h2>

                <p class="movie__describe">@Model.Book.Description</p>

            </div>

            <div class="choose-container" id="comments">

                <h2 class="page-heading">Комментарии (@Model.Book.Comments.Count)</h2>

                <div class="comment-wrapper">
                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("AddComment", "Book", FormMethod.Post, new { @class = "comment-form" }))
                        {
                            <input name="book" type="hidden" value="@Model.Book.Id" />
                            <textarea class="comment-form__text" name="text" placeholder='Ваш комментарий...'></textarea>
                            <label class="comment-form__info">250 characters left</label>
                            <button type='submit' class="btn btn-md btn--danger comment-form__btn">Добавить комментарий</button>
                        }
                    }
                    else
                    {
                        <p>Для того чтобы оставить комментарий нужно <a href="@Url.Action("Login", "Account")">авторизоваться</a>!</p>
                    }

                    @if (Model.Book.Comments.Count != 0)
                    {
                <div class="comment-sets">

                    @foreach (var comment in Model.Book.Comments)
                    {
                        <div class="comment">
                            <div class="comment__images">
                                <img alt='' src="http://placehold.it/50x50">
                            </div>

                            <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>@comment.GetUser.UserName</a>
                            <p class="comment__date">@comment.Create.ToString("dd.MM.yyyy | hh:mm")</p>
                            <p class="comment__message">@comment.Text</p>
                            @*<a href='#' class="comment__reply">Reply</a>*@
                        </div>
                    }

                </div>
                    } else
                    {
                        <h3>Нет комментариев!</h3>
                    }
                </div>
            </div>
        </div>

        @{Html.RenderAction("Aside", "Main");}

    </section>