@model ALibrary.Models.AsideViewModel
@using ALibrary.Helpers

<aside class="col-sm-4 col-md-3">
    <div class="sitebar">

        @if (Model.Advertising[0] != null)
        {
            <div class="banner-wrap">
                <img alt='@Model.Advertising[0].Text' src="@Url.Content($"~/Content/images/banners/{Model.Advertising[0].Image}")">
            </div>
        }

        @if (Model.Books != null && Model.Books.Count > 0)
        {
            <div class="category category--discuss category--count marginb-sm mobile-category ls-cat">
                <h3 class="category__title">Самые<br><span class="title-edition">популярные книги</span></h3>
                <ol>
                    @foreach (var book in Model.Books)
                    {
                        <li><a href="@Url.Action("Index", "Book", new { category = BookHelper.GetParentCategory(book.Categories), subcategory = BookHelper.GetSubcategory(book.Categories), id = book.Id, slug = book.Slug }, null)" class="category__item">@book.Name</a></li>
                    }
                </ol>
            </div>
        }

        @if (Model.Advertising[1] != null)
        {
            <div class="banner-wrap">
                <img alt='@Model.Advertising[1].Text' src="@Url.Content($"~/Content/images/banners/{Model.Advertising[1].Image}")">
            </div>
        }

        <div class="category category--light categoty--position marginb-sm">
            <h3 class="category__title">Популярные<br><span class="title-edition">статьи</span></h3>
            <ul>
                @foreach (var article in Model.Articles)
                {
                    <li><a href="@Url.RouteUrl("Article", new { slug = article.Slug })" class="category__item">@article.Title</a></li>
                }
            </ul>
        </div>

        <h3 class="heading-special lower--hight">Теги</h3>
        <ul class="tags tags--dark">
            @foreach (var tag in Model.Tags)
            {
                <li class="item-wrap"><a href="@Url.RouteUrl("TagArticles", new { tag = tag.Slug })" class="tag_item">@tag.Name </a></li>
            }
        </ul>

    </div>
</aside>